{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not req.isAuthenticated() %}
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in. Welcome, {{ user.name }}!</p>
     <table class="w3-table-all" style="width:100%">
     <tr>
	<th>Name</th>
        <th>TwitterHandle</th>
     </tr>
     <tr>
	<td id="one">{{ user.name }}</td>
        <td id="two"></td>
     </tr>
     </table>
        <script>
        function getMetaContentByName(name,content){
         var content = (content==null)?'content':content;
           return document.querySelector("meta[name='"+name+"']").getAttribute(content);
         }
          var div = document.getElementById('two');
          var tag = getMetaContentByName("tag");
          div.innerHTML = div.innerHTML + tag;

        </script>
{% endif %}
{% endblock %}
