{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not req.isAuthenticated() %}
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in. Welcome, {{ user.name }}!</p>
     <table class="w3-table-all" style="width:100%">
     <tr>
	<th>Email</th>
	<th>Name</th>
     </tr>
     <tr>
     	<td>{{ user.email }}</td>
	<td>{{ user.name }}</td>
     </tr>
     </table>
     <form enctype='application/json' action="upload_video" method="post">
         Title: <input type="text" name="title">
         Description: <input type="text" name="desc">
         Select a file: <input type="text" name="path">
         <input type="submit" value="Submit" action="/">
     </form>
     {% for video in videos %}
        <iframe width="420" height="315"
          src="http://www.youtube.com/embed/{{ video['videoid'] }}?autoplay=0">
        </iframe>
     {% endfor %}     
{% endif %}
{% endblock %}
